/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400,700italic);

/* */

html {
	background-color: #F1F2AD;

}
div p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	white-space: pre;
	text-indent: 2.3em;
}


 ul li {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	list-style-type: square;
    background: url('marker.png') no-repeat 0 2px;
	margin-left: 10%;
	margin-right: 30%;
	margin-bottom: 0.5em;

	
}

li:hover {
	color: tomato;
}

}

 div h3  {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-decoration: none;
}

h1 {
	border-bottom: 3px solid #4D5054;
	margin: 0 0 20px 0;
	text-align: center;
	text-shadow: 1px 1px 4px #000;
}



#links {
	text-decoration: none;
	color:#4D5054;
}

}

#about p {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-left:60%;
	float: right;
	text-align: center;
	border-top: 3px solid #4D5054;
}

#links {
	text-decoration: none;
}
#links2 {
	text-decoration: none;
	color:black;
}

img {
	margin-top: 20px;

}

.button {
  border: 5;
  background: linear-gradient(#768191, #535b65);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 0 #404853;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin:auto;
  position:relative;
  padding: 12px 20px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all .1s linear;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  color: #d4d7da;
}
.button:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 0 #404853;
  transform: translateY(3px);
}






