/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400,700italic);

/* */

html {
  background: #D9C791 url(img/purty2.png); 
}
div p {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-indent: 1.3em;
	margin: 0 10% 0 10%;
}


 ul li {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	list-style-type: square;
	margin-left: 10%;
	margin-right: 30%;
	margin-bottom: 0.5em;	
}

 div h3  {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-decoration: none;
}

h1 {
	margin: 1% 35% 0% 35%; 
	text-shadow: 1px 1px 4px #000;

}


#links {
	text-decoration: none;
	color:#4D5054;
}
.followme {
	margin: 0% 32% 0% 32%; 
}

#links {
	text-decoration: none;
}
#links2 {
	text-decoration: none;
	color:black;
}

img {
	margin-left:5%;

}

.button {
  border: 0;
  background: #C94737;
  border-radius: 9px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 0 #404853;
  color: #C94737;
  cursor: pointer;
  font-weight: bold;
  margin: 3% 40% 0% 40%; 
  padding: 12px 20px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition: all .1s linear;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  color: #C94737;
}
.button:active {
  box-shadow: 0 1px 0 #61513F , 0 2px 0 #404853;
  transform: translateY(3px);
}






